<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.sachzhong.dao.IMenuDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.sachzhong.entity.MenuDO" >
        <result column="menu_id" property="menuId" jdbcType="INTEGER" />
        <result column="menu_grade" property="menuGrade" jdbcType="INTEGER" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="menu_type" property="menuType" jdbcType="VARCHAR" />
        <result column="menu_number" property="menuNumber" jdbcType="VARCHAR" />
        <result column="menu_info" property="menuInfo" jdbcType="VARCHAR" />
        <result column="menu_opuserid" property="menuOpuserid" jdbcType="INTEGER" />
        <result column="menu_deletetype" property="menuDeletetype" jdbcType="VARCHAR" />
        <result column="menu_foundtime" property="menuFoundtime" jdbcType="TIMESTAMP" />
        <result column="menu_updatetime" property="menuUpdatetime" jdbcType="TIMESTAMP" />
        <result column="menu_back" property="menuBack" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_grade,menu_name,menu_type
    </sql>

    <insert id="insert" parameterType="com.cmpay.sachzhong.entity.MenuDO" >
        insert into sachzhong_menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="menuId != null" >
                menu_id,
            </if>
            <if test="menuGrade != null" >
                menu_grade,
            </if>
            <if test="menuName != null" >
                menu_name,
            </if>
            <if test="menuType != null" >
                menu_type,
            </if>
            <if test="menuNumber != null" >
                menu_number,
            </if>
            <if test="menuInfo != null" >
                menu_info,
            </if>
            <if test="menuOpuserid != null" >
                menu_opuserid,
            </if>
            <if test="menuDeletetype != null" >
                menu_deletetype,
            </if>
            <if test="menuFoundtime != null" >
                menu_foundtime,
            </if>
            <if test="menuUpdatetime != null" >
                menu_updatetime,
            </if>
            <if test="menuBack != null" >
                menu_back,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="menuId != null" >
                #{menuId,jdbcType=INTEGER},
            </if>
            <if test="menuGrade != null" >
                #{menuGrade,jdbcType=INTEGER},
            </if>
            <if test="menuName != null" >
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null" >
                #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="menuNumber != null" >
                #{menuNumber,jdbcType=VARCHAR},
            </if>
            <if test="menuInfo != null" >
                #{menuInfo,jdbcType=VARCHAR},
            </if>
            <if test="menuOpuserid != null" >
                #{menuOpuserid,jdbcType=INTEGER},
            </if>
            <if test="menuDeletetype != null" >
                #{menuDeletetype,jdbcType=VARCHAR},
            </if>
            <if test="menuFoundtime != null" >
                #{menuFoundtime,jdbcType=TIMESTAMP},
            </if>
            <if test="menuUpdatetime != null" >
                #{menuUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="menuBack != null" >
                #{menuBack,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.sachzhong.entity.MenuDO" >
        select 
        <include refid="Base_Column_List" />
        from sachzhong_menu
        <where >
            <if test="menuId != null" >
                and menu_id = #{menuId,jdbcType=INTEGER}
            </if>
            <if test="menuGrade != null" >
                and menu_grade = #{menuGrade,jdbcType=INTEGER}
            </if>
            <if test="menuName != null" >
                and menu_name = #{menuName,jdbcType=VARCHAR}
            </if>
            <if test="menuType != null" >
                and menu_type = #{menuType,jdbcType=VARCHAR}
            </if>
            <if test="menuNumber != null" >
                and menu_number = #{menuNumber,jdbcType=VARCHAR}
            </if>
            <if test="menuInfo != null" >
                and menu_info = #{menuInfo,jdbcType=VARCHAR}
            </if>
            <if test="menuOpuserid != null" >
                and menu_opuserid = #{menuOpuserid,jdbcType=INTEGER}
            </if>
            <if test="menuDeletetype != null" >
                and menu_deletetype = #{menuDeletetype,jdbcType=VARCHAR}
            </if>
            <if test="menuFoundtime != null" >
                and menu_foundtime = #{menuFoundtime,jdbcType=TIMESTAMP}
            </if>
            <if test="menuUpdatetime != null" >
                and menu_updatetime = #{menuUpdatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="menuBack != null" >
                and menu_back = #{menuBack,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>