<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.sachzhong.dao.OperationDOMapper" >
  <resultMap id="BaseResultMap" type="com.cmpay.sachzhong.entity.OperationDO" >
    <id column="operation_id" property="operationId" jdbcType="INTEGER" />
    <result column="operation_name" property="operationName" jdbcType="VARCHAR" />
    <result column="operation_grade" property="operationGrade" jdbcType="INTEGER" />
    <result column="operation_number" property="operationNumber" jdbcType="VARCHAR" />
    <result column="operation_type" property="operationType" jdbcType="VARCHAR" />
    <result column="operation_info" property="operationInfo" jdbcType="VARCHAR" />
    <result column="operation_opuserid" property="operationOpuserid" jdbcType="INTEGER" />
    <result column="operation_deletetype" property="operationDeletetype" jdbcType="VARCHAR" />
    <result column="operation_foundtime" property="operationFoundtime" jdbcType="TIMESTAMP" />
    <result column="operation_updatetime" property="operationUpdatetime" jdbcType="TIMESTAMP" />
    <result column="operation_back" property="operationBack" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    operation_id, operation_name, operation_grade, operation_number, operation_type, 
    operation_info, operation_opuserid, operation_deletetype, operation_foundtime, operation_updatetime, 
    operation_back
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cmpay.sachzhong.entity.OperationDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sachzhong_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sachzhong_operation
    where operation_id = #{operationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sachzhong_operation
    where operation_id = #{operationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmpay.sachzhong.entity.OperationDOExample" >
    delete from sachzhong_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmpay.sachzhong.entity.OperationDO" >
    insert into sachzhong_operation (operation_id, operation_name, operation_grade, 
      operation_number, operation_type, operation_info, 
      operation_opuserid, operation_deletetype, 
      operation_foundtime, operation_updatetime, 
      operation_back)
    values (#{operationId,jdbcType=INTEGER}, #{operationName,jdbcType=VARCHAR}, #{operationGrade,jdbcType=INTEGER}, 
      #{operationNumber,jdbcType=VARCHAR}, #{operationType,jdbcType=VARCHAR}, #{operationInfo,jdbcType=VARCHAR}, 
      #{operationOpuserid,jdbcType=INTEGER}, #{operationDeletetype,jdbcType=VARCHAR}, 
      #{operationFoundtime,jdbcType=TIMESTAMP}, #{operationUpdatetime,jdbcType=TIMESTAMP}, 
      #{operationBack,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmpay.sachzhong.entity.OperationDO" >
    insert into sachzhong_operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operationId != null" >
        operation_id,
      </if>
      <if test="operationName != null" >
        operation_name,
      </if>
      <if test="operationGrade != null" >
        operation_grade,
      </if>
      <if test="operationNumber != null" >
        operation_number,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="operationInfo != null" >
        operation_info,
      </if>
      <if test="operationOpuserid != null" >
        operation_opuserid,
      </if>
      <if test="operationDeletetype != null" >
        operation_deletetype,
      </if>
      <if test="operationFoundtime != null" >
        operation_foundtime,
      </if>
      <if test="operationUpdatetime != null" >
        operation_updatetime,
      </if>
      <if test="operationBack != null" >
        operation_back,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operationId != null" >
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="operationName != null" >
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationGrade != null" >
        #{operationGrade,jdbcType=INTEGER},
      </if>
      <if test="operationNumber != null" >
        #{operationNumber,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operationInfo != null" >
        #{operationInfo,jdbcType=VARCHAR},
      </if>
      <if test="operationOpuserid != null" >
        #{operationOpuserid,jdbcType=INTEGER},
      </if>
      <if test="operationDeletetype != null" >
        #{operationDeletetype,jdbcType=VARCHAR},
      </if>
      <if test="operationFoundtime != null" >
        #{operationFoundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUpdatetime != null" >
        #{operationUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationBack != null" >
        #{operationBack,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmpay.sachzhong.entity.OperationDOExample" resultType="java.lang.Integer" >
    select count(*) from sachzhong_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sachzhong_operation
    <set >
      <if test="record.operationId != null" >
        operation_id = #{record.operationId,jdbcType=INTEGER},
      </if>
      <if test="record.operationName != null" >
        operation_name = #{record.operationName,jdbcType=VARCHAR},
      </if>
      <if test="record.operationGrade != null" >
        operation_grade = #{record.operationGrade,jdbcType=INTEGER},
      </if>
      <if test="record.operationNumber != null" >
        operation_number = #{record.operationNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.operationType != null" >
        operation_type = #{record.operationType,jdbcType=VARCHAR},
      </if>
      <if test="record.operationInfo != null" >
        operation_info = #{record.operationInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.operationOpuserid != null" >
        operation_opuserid = #{record.operationOpuserid,jdbcType=INTEGER},
      </if>
      <if test="record.operationDeletetype != null" >
        operation_deletetype = #{record.operationDeletetype,jdbcType=VARCHAR},
      </if>
      <if test="record.operationFoundtime != null" >
        operation_foundtime = #{record.operationFoundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operationUpdatetime != null" >
        operation_updatetime = #{record.operationUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operationBack != null" >
        operation_back = #{record.operationBack,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sachzhong_operation
    set operation_id = #{record.operationId,jdbcType=INTEGER},
      operation_name = #{record.operationName,jdbcType=VARCHAR},
      operation_grade = #{record.operationGrade,jdbcType=INTEGER},
      operation_number = #{record.operationNumber,jdbcType=VARCHAR},
      operation_type = #{record.operationType,jdbcType=VARCHAR},
      operation_info = #{record.operationInfo,jdbcType=VARCHAR},
      operation_opuserid = #{record.operationOpuserid,jdbcType=INTEGER},
      operation_deletetype = #{record.operationDeletetype,jdbcType=VARCHAR},
      operation_foundtime = #{record.operationFoundtime,jdbcType=TIMESTAMP},
      operation_updatetime = #{record.operationUpdatetime,jdbcType=TIMESTAMP},
      operation_back = #{record.operationBack,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmpay.sachzhong.entity.OperationDO" >
    update sachzhong_operation
    <set >
      <if test="operationName != null" >
        operation_name = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationGrade != null" >
        operation_grade = #{operationGrade,jdbcType=INTEGER},
      </if>
      <if test="operationNumber != null" >
        operation_number = #{operationNumber,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operationInfo != null" >
        operation_info = #{operationInfo,jdbcType=VARCHAR},
      </if>
      <if test="operationOpuserid != null" >
        operation_opuserid = #{operationOpuserid,jdbcType=INTEGER},
      </if>
      <if test="operationDeletetype != null" >
        operation_deletetype = #{operationDeletetype,jdbcType=VARCHAR},
      </if>
      <if test="operationFoundtime != null" >
        operation_foundtime = #{operationFoundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUpdatetime != null" >
        operation_updatetime = #{operationUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationBack != null" >
        operation_back = #{operationBack,jdbcType=VARCHAR},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmpay.sachzhong.entity.OperationDO" >
    update sachzhong_operation
    set operation_name = #{operationName,jdbcType=VARCHAR},
      operation_grade = #{operationGrade,jdbcType=INTEGER},
      operation_number = #{operationNumber,jdbcType=VARCHAR},
      operation_type = #{operationType,jdbcType=VARCHAR},
      operation_info = #{operationInfo,jdbcType=VARCHAR},
      operation_opuserid = #{operationOpuserid,jdbcType=INTEGER},
      operation_deletetype = #{operationDeletetype,jdbcType=VARCHAR},
      operation_foundtime = #{operationFoundtime,jdbcType=TIMESTAMP},
      operation_updatetime = #{operationUpdatetime,jdbcType=TIMESTAMP},
      operation_back = #{operationBack,jdbcType=VARCHAR}
    where operation_id = #{operationId,jdbcType=INTEGER}
  </update>
</mapper>