<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.sachzhong.dao.UserByRoleDOMapper" >
  <resultMap id="BaseResultMap" type="com.cmpay.sachzhong.entity.UserByRoleDO" >
    <id column="userbyrole_id" property="userbyroleId" jdbcType="INTEGER" />
    <result column="userbyrole_userid" property="userbyroleUserid" jdbcType="INTEGER" />
    <result column="userbyrole_roleid" property="userbyroleRoleid" jdbcType="INTEGER" />
    <result column="userbyrole_back" property="userbyroleBack" jdbcType="VARCHAR" />
    <result column="userbyrole_opuserid" property="userbyroleOpuserid" jdbcType="INTEGER" />
    <result column="userbyrole_deletetype" property="userbyroleDeletetype" jdbcType="VARCHAR" />
    <result column="userbyrole_foundtime" property="userbyroleFoundtime" jdbcType="TIMESTAMP" />
    <result column="userbyrole_updatetime" property="userbyroleUpdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userbyrole_id, userbyrole_userid, userbyrole_roleid, userbyrole_back, userbyrole_opuserid, 
    userbyrole_deletetype, userbyrole_foundtime, userbyrole_updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cmpay.sachzhong.entity.UserByRoleDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sachzhong_userbyrole
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sachzhong_userbyrole
    where userbyrole_id = #{userbyroleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sachzhong_userbyrole
    where userbyrole_id = #{userbyroleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmpay.sachzhong.entity.UserByRoleDOExample" >
    delete from sachzhong_userbyrole
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmpay.sachzhong.entity.UserByRoleDO" >
    insert into sachzhong_userbyrole (userbyrole_id, userbyrole_userid, userbyrole_roleid, 
      userbyrole_back, userbyrole_opuserid, userbyrole_deletetype, 
      userbyrole_foundtime, userbyrole_updatetime
      )
    values (#{userbyroleId,jdbcType=INTEGER}, #{userbyroleUserid,jdbcType=INTEGER}, #{userbyroleRoleid,jdbcType=INTEGER}, 
      #{userbyroleBack,jdbcType=VARCHAR}, #{userbyroleOpuserid,jdbcType=INTEGER}, #{userbyroleDeletetype,jdbcType=VARCHAR}, 
      #{userbyroleFoundtime,jdbcType=TIMESTAMP}, #{userbyroleUpdatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmpay.sachzhong.entity.UserByRoleDO" >
    insert into sachzhong_userbyrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userbyroleId != null" >
        userbyrole_id,
      </if>
      <if test="userbyroleUserid != null" >
        userbyrole_userid,
      </if>
      <if test="userbyroleRoleid != null" >
        userbyrole_roleid,
      </if>
      <if test="userbyroleBack != null" >
        userbyrole_back,
      </if>
      <if test="userbyroleOpuserid != null" >
        userbyrole_opuserid,
      </if>
      <if test="userbyroleDeletetype != null" >
        userbyrole_deletetype,
      </if>
      <if test="userbyroleFoundtime != null" >
        userbyrole_foundtime,
      </if>
      <if test="userbyroleUpdatetime != null" >
        userbyrole_updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userbyroleId != null" >
        #{userbyroleId,jdbcType=INTEGER},
      </if>
      <if test="userbyroleUserid != null" >
        #{userbyroleUserid,jdbcType=INTEGER},
      </if>
      <if test="userbyroleRoleid != null" >
        #{userbyroleRoleid,jdbcType=INTEGER},
      </if>
      <if test="userbyroleBack != null" >
        #{userbyroleBack,jdbcType=VARCHAR},
      </if>
      <if test="userbyroleOpuserid != null" >
        #{userbyroleOpuserid,jdbcType=INTEGER},
      </if>
      <if test="userbyroleDeletetype != null" >
        #{userbyroleDeletetype,jdbcType=VARCHAR},
      </if>
      <if test="userbyroleFoundtime != null" >
        #{userbyroleFoundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userbyroleUpdatetime != null" >
        #{userbyroleUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmpay.sachzhong.entity.UserByRoleDOExample" resultType="java.lang.Integer" >
    select count(*) from sachzhong_userbyrole
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sachzhong_userbyrole
    <set >
      <if test="record.userbyroleId != null" >
        userbyrole_id = #{record.userbyroleId,jdbcType=INTEGER},
      </if>
      <if test="record.userbyroleUserid != null" >
        userbyrole_userid = #{record.userbyroleUserid,jdbcType=INTEGER},
      </if>
      <if test="record.userbyroleRoleid != null" >
        userbyrole_roleid = #{record.userbyroleRoleid,jdbcType=INTEGER},
      </if>
      <if test="record.userbyroleBack != null" >
        userbyrole_back = #{record.userbyroleBack,jdbcType=VARCHAR},
      </if>
      <if test="record.userbyroleOpuserid != null" >
        userbyrole_opuserid = #{record.userbyroleOpuserid,jdbcType=INTEGER},
      </if>
      <if test="record.userbyroleDeletetype != null" >
        userbyrole_deletetype = #{record.userbyroleDeletetype,jdbcType=VARCHAR},
      </if>
      <if test="record.userbyroleFoundtime != null" >
        userbyrole_foundtime = #{record.userbyroleFoundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userbyroleUpdatetime != null" >
        userbyrole_updatetime = #{record.userbyroleUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sachzhong_userbyrole
    set userbyrole_id = #{record.userbyroleId,jdbcType=INTEGER},
      userbyrole_userid = #{record.userbyroleUserid,jdbcType=INTEGER},
      userbyrole_roleid = #{record.userbyroleRoleid,jdbcType=INTEGER},
      userbyrole_back = #{record.userbyroleBack,jdbcType=VARCHAR},
      userbyrole_opuserid = #{record.userbyroleOpuserid,jdbcType=INTEGER},
      userbyrole_deletetype = #{record.userbyroleDeletetype,jdbcType=VARCHAR},
      userbyrole_foundtime = #{record.userbyroleFoundtime,jdbcType=TIMESTAMP},
      userbyrole_updatetime = #{record.userbyroleUpdatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmpay.sachzhong.entity.UserByRoleDO" >
    update sachzhong_userbyrole
    <set >
      <if test="userbyroleUserid != null" >
        userbyrole_userid = #{userbyroleUserid,jdbcType=INTEGER},
      </if>
      <if test="userbyroleRoleid != null" >
        userbyrole_roleid = #{userbyroleRoleid,jdbcType=INTEGER},
      </if>
      <if test="userbyroleBack != null" >
        userbyrole_back = #{userbyroleBack,jdbcType=VARCHAR},
      </if>
      <if test="userbyroleOpuserid != null" >
        userbyrole_opuserid = #{userbyroleOpuserid,jdbcType=INTEGER},
      </if>
      <if test="userbyroleDeletetype != null" >
        userbyrole_deletetype = #{userbyroleDeletetype,jdbcType=VARCHAR},
      </if>
      <if test="userbyroleFoundtime != null" >
        userbyrole_foundtime = #{userbyroleFoundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userbyroleUpdatetime != null" >
        userbyrole_updatetime = #{userbyroleUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userbyrole_id = #{userbyroleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmpay.sachzhong.entity.UserByRoleDO" >
    update sachzhong_userbyrole
    set userbyrole_userid = #{userbyroleUserid,jdbcType=INTEGER},
      userbyrole_roleid = #{userbyroleRoleid,jdbcType=INTEGER},
      userbyrole_back = #{userbyroleBack,jdbcType=VARCHAR},
      userbyrole_opuserid = #{userbyroleOpuserid,jdbcType=INTEGER},
      userbyrole_deletetype = #{userbyroleDeletetype,jdbcType=VARCHAR},
      userbyrole_foundtime = #{userbyroleFoundtime,jdbcType=TIMESTAMP},
      userbyrole_updatetime = #{userbyroleUpdatetime,jdbcType=TIMESTAMP}
    where userbyrole_id = #{userbyroleId,jdbcType=INTEGER}
  </update>
</mapper>